{% extends "admin/form.base.html.twig" %}
{% block title %}Showing{% endblock %}
{% block formTitle %}Showing editor {{ editor.name }}{% endblock %}
{% block formContent %}
    {{ include("admin/_form.html.twig") }}
    <div class="btn-group">
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path("admin_editors_index") }}';">Go Back</button> &nbsp;
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ path("admin_editors_edit",{"id":editor.id}) }}';">Edit</button> &nbsp;
        <button type="button" class="btn btn-danger" onclick="dialogue({{ editor.id }},'{{path('admin_editors_delete',{"id":editor.id})}}','{{ path("admin_editors_index") }}')">Delete</button> &nbsp;
    </div>
    {{ form_end(form) }}
    <br>
    <br>
    <br>
{% endblock %}