{% extends "admin/form.base.html.twig" %}
{% block title %}Showing{% endblock %}
{% block formTitle %}Showing category {{ category.label }}{% endblock %}
{% block formContent %}
    {{ include("admin/_form.html.twig") }}
    <div class="btn-group">
        <button type="button" class="btn btn-primary" onclick="location.href='{{ path("admin_categories_index") }}';">Go Back</button> &nbsp;
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ path("admin_categories_edit",{"id":category.id}) }}';">Edit</button> &nbsp;
        <button type="button" class="btn btn-danger" onclick="dialogue({{ category.id }},'{{path('admin_categories_delete',{"id":category.id})}}','{{ path("admin_categories_index") }}')">Delete</button> &nbsp;
    </div>
    {{ form_end(form) }}
    <br>
    <br>
    <br>
{% endblock %}